#modo{
    width: 30px;
    font-size: 60px;
    cursor: pointer;
    position: absolute;
    margin-top: 20px;
    top: 0;
}

.dark #modo{
    color: orange;
}

.dark #encabezado {
    background: rgb(34, 25, 25);
}

.dark .opcion {
    background: rgb(34, 25, 25);
    color: white;
}

.dark .opcion:hover{
    background: rgb(99, 95, 95);
    color: black;
}

.dark #pregunta {
    color: white;
}

